body {
    background-color: beige;
}

#bar {
    text-align: center;
    color: black;
    
    padding: 5px;
    width: 100%;
    font-family: monospace;
    clear: both;
}

#main-nav {
    text-align: center;
    background-color: blueviolet;
}

#main-nav li:hover {
    background-color: grey;
    color: antiquewhite;
}

#main-nav ul li {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-family: monospace;
}


.content-area {
    width: 60%;
    float: left;
    margin: 0%;
}

.content-box {
    background-color: red;
    color: black;
    border: 2px solid black;
    padding: 55px;
    border-radius: 15px;
    margin: 90px;
    font-family: monospace;   
}

#Contact:hover {
    background-color:red;
    color: antiquewhite;
}

#Contact {
    text-align: center;
    background-color:cadetblue;
    

    float: right;
    width: 20%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 15px;
    margin-right: 10px;
    font-family: monospace;
    margin: 10px;
}

button:hover {
    background-color: blue;
}

.logo {
    float: right;
    display: block;
    width: 75px;
    margin-top: 15px;
}

.main-container2 {
    text-align: center;
    padding: 20px;
}
.game-container {
    border: 2px solid black;
    padding: 20px;
    display: inline-block;
    background-color: blanchedalmond;
    
}
.result-box {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.box {
    border: 2px solid black;
    padding: 35px;
    width: 150px;
}
button {
    background-color: grey;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: blue;
}